@font-face {
  font-family: Open Sans;
  src: url(fonts/OpenSans-Regular.ttf);
}
body {
  background-color: #e6e6e6;
  padding: 0;
  margin: 0;
  font-family: Open Sans, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.header {
  background-image: linear-gradient(#e44848, #1e1e1e 130%);
  grid-column: 1/5;
}

.contend {
  grid-column: 1/5;
  position: relative;
}

ul {
  list-style: none;
}

li {
  text-align: center;
  padding: 20px 20px 5px 20px;
}

.boderline {
  background-color: transparent;
  transition-property: transform, width, background;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  height: 3px;
  width: 0.1px;
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: #e6e6e6;
  display: inline-block;
  text-align: center;
  height: 35px;
  width: auto;
  font-size: 20px;
}
a:hover > .boderline {
  transform: scaleX(100);
  width: 1px;
  background-color: #f0eeee;
}

.profesor-container {
  display: none;
  grid-template-columns: 250px 250px;
  grid-auto-rows: 70px;
  grid-gap: 10px;
  background: #fafafa;
  box-shadow: 50px 30px 50px rgba(30, 30, 30, 0.6);
  max-width: 480px;
  padding: 20px 30px;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 10%);
  border-radius: 7px;
  z-index: 500;
}

.materia-container, .aula-container {
  display: none;
  flex-direction: column;
  background: #fafafa;
  box-shadow: 50px 30px 50px rgba(30, 30, 30, 0.6);
  max-width: 270px;
  padding: 20px 30px;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 10%);
  border-radius: 7px;
  z-index: 500;
}

.materia-container input, .aula-container input {
  width: 95%;
}

input {
  height: 25px;
  outline: none;
  width: 80%;
  border: none;
  border-bottom: 2px solid rgba(30, 30, 30, 0.8);
  position: relative;
  z-index: 100;
  background: transparent;
  transition-property: border-color;
  transition-duration: 0.7s;
  -o-transition-timing-function: ease;
}
input:focus {
  border-color: #206bdb;
}

.profesor-container select {
  width: 80%;
  border: none;
  border-bottom: 2px solid rgba(30, 30, 30, 0.8);
  outline: none;
  font-size: 16px;
  margin-top: 30px;
  transition-property: border-color;
  transition-duration: 0.7s;
  -o-transition-timing-function: ease;
}

.input-container {
  position: relative;
}

label {
  font-size: 18px;
  position: absolute;
  top: 20px;
  color: #8a8888;
  transition-property: top, font-size;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  grid-column: 1/3;
  width: 60%;
  height: 40px;
  margin: auto;
  font-size: 20px;
  background: #4957d6;
  border: none;
  color: #f0f0f0;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  cursor: pointer;
}
button:hover {
  background: #5e6efc;
}

.materia-container button {
  margin: auto;
}

h2 {
  text-align: center;
  grid-column: 1/3;
}

#logout {
  float: right;
  margin-right: 20px;
}
#logout:hover > .boderline {
  transform: scaleX(150);
  width: 1px;
  background-color: #f0eeee;
}

@-webkit-keyframes Opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes Dissapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Dissapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=administrador.css.map */