@font-face
    font-family: Open Sans
    src: url(fonts/OpenSans-Regular.ttf)
body
    background-color: rgb(230, 230, 230)
    padding: 0
    margin: 0
    font-family: Open Sans, sans-serif
    position: relative
    z-index: -100
.grid-container
    display: grid
    grid-template-columns: repeat(4,1fr)
    grid-template-rows: 80px repeat(3,1fr)
    position: relative
    z-index: -100
    width: 100vw
    height: 100vh
    overflow: auto
.header 
    background-image: linear-gradient(to top, rgb(121, 42, 51),rgb(30, 30, 30) 140%)
    grid-column: span 4
    grid-row: span 1
    height: 80px
    h2
        color: rgb(230, 230, 230)
.contend
    grid-column: 2/5
    position: relative
    z-index: -100

.slide-menu 
    grid-column: 1/2
    grid-row: span 4
    width: 200px
    padding: 10px 20px
    color: white
    background-image: linear-gradient(to bottom, rgb(121, 42, 51),rgb(30, 30, 30) 140%)
    position: sticky
    top: .25px
    z-index: -2
    .principal-menu 
        position: relative
        padding: 5px 20px
        margin-top: 20px
        cursor: pointer
        z-index: -1
    h4
        display: inline
    .h4-container
        margin-left:-20px
        width: 200px
    #arrow_down
        width: 35px
        height: 35px
        position: absolute
        top: 1px
        left: 170px
        transition-duration: .5s
        transition-timing-function: ease
        -o-transition-property: transform, rotate
    .submenu
        background-color: rgb(80, 110, 190)
        margin-top: 10px
        margin-left: -40px
        width: 240px
        transition-duration: .5s
        transition-property: max-height
        transition-timing-function: ease
        max-height: 0px
        overflow: hidden
        position: relative
        z-index: 100
         
    .submenu li 
        padding: 5px 5px
ul
    list-style: none

#cerrar_sesion 
    position: absolute
    bottom: 20px
.borderline
    background-color: transparent
    transition-property: transform, width, background
    transition-duration: .2s
    transition-timing-function: ease
    margin-top: -3px
    height: 3px
    width:1px
a 
    text-decoration: none
    color: rgb(230,230,230)
    &:hover>.borderline
        background-color: white
        width: 150px
        
.div_container 
    margin-top: -17px
#contratacion-container
    top: 10%
    left: 60%
    transform: translate(-50%, 2%)
    max-width: 500px
    min-width: 400px
    word-break: break-all
#profesor-container
    display: none
    grid-template-columns: 1fr 1fr
    grid-auto-rows: 30px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px
    grid-gap: 5px 10px
    background: rgb(250, 250, 250)
    box-shadow: 50px 30px 50px rgb(30, 30, 30,0.6)
    max-width: 680px
    min-width: 600px
    padding: 20px 0px 20px 40px
    position: absolute
    top: 20%
    left: 40%
    transform: translate(-45%, -7%)
    border-radius: 7px
    z-index: 500
    label
        font-size: 16px !important
    button 
        align-self: center
        justify-self: center
        margin-left: 27px
    input 
        justify-self: center
    h2 
        grid-column: 1/3
        margin-top: -5px
    .checkbox-edit
        left: 235px
#horario-container
    display: none
    grid-template-columns: repeat(4,200px)
    grid-auto-rows: repeat(3,50px)
    background: rgb(250, 250, 250)
    grid-gap: 10px
    box-shadow: 50px 30px 50px rgb(30, 30, 30,0.6)
    max-width: 830px
    min-width: 750px
    box-sizing: border-box
    padding: 20px
    position: absolute
    top: 20%
    left: 45%
    transform: translate(-50%, 10%)
    border-radius: 7px
    z-index: 500
    input
        width: 90%
    button 
        margin-top: 20px
    h2
        grid-column: 1/5    
    .dropdown
        margin-top: 1px
        display: none
        flex-direction: column
        position: absolute
        z-index: 1000
        width: 90%
        height: 144px
        overflow-y: auto
        span 
            cursor: pointer
            padding: 7px 5px
            background: rgb(230, 230, 230)
            width: 94%
            &:hover
                background: rgb(164, 211, 255)
    
#lapso_academico-container
    display: none
    grid-template-columns: repeat(3,1fr)
    grid-auto-rows: repeat(3,50px)
    background: rgb(250, 250, 250)
    grid-gap: 10px
    box-shadow: 50px 30px 50px rgb(30, 30, 30,0.6)
    max-width: 590px
    box-sizing: border-box
    padding: 20px
    position: absolute
    top: 20%
    left: 45%
    transform: translate(-50%, 10%)
    border-radius: 7px
    z-index: 500
    .checkbox-edit
        left: 135px
        bottom: -3px
    button 
        margin-top: 20px
    h2
        grid-column: 1/4    
.dropdown
        margin-top: 1px
        display: none
        flex-direction: column
        position: absolute
        z-index: 1000
        width: 90%
        height: 144px
        overflow-y: auto
        span 
            cursor: pointer
            padding: 7px 5px
            background: rgb(230, 230, 230)
            width: 94%
            &:hover
                background: rgb(164, 211, 255)
#disponibilidad-container
    display: grid
    grid-template-columns: repeat(3,1fr)
    grid-template-rows:35px 
    background: rgb(250, 250, 250)
    grid-gap: 30px 45px
    box-shadow: 50px 30px 50px rgb(30, 30, 30,0.6)
    width: 790px
    box-sizing: border-box
    padding: 20px
    position: absolute
    top: 20%
    left: 45%
    transform: translate(-50%, -5%)
    border-radius: 7px
    z-index: 500
    img
        width: 30px
        height: 30px
        cursor: pointer
        position: absolute
        right: -5px
        transition-property: transform
        transition-timing-function: ease
        transition-duration: .5s
        &:hover
            transform: scale(1.18)
    .dropdown 
        width: 100%
        span 
            font-size: 14px
    select 
        width: 300px
    h2
        grid-column: 1/4
    .input-container
        width: 100%
    input 
        width: 85%
    button
        margin-top: 90px 
        font-size: 18px
        width: 70%
    .input-bloques
        margin-top: 70px
        .dropdown
            display: flex
    .input-dis
        margin-top: 95px
    .close-icon
        margin-top: 12px
#oferta-container

    max-width: 300px
    padding-left: 40px
    padding-right: 40px
    .checkbox-edit
        left: -40px
    .checkbox-add
        bottom: -5px
    /*.checkbox-lapso
    /*    left: 230px
    .dropdown 
        span 
            font-size: 14px
    img
        width: 30px
        height: 30px
        cursor: pointer
        position: absolute
        right: -15px
        transition-property: transform
        transition-timing-function: ease
        transition-duration: .5s
        &:hover
            transform: scale(1.18)
    h2
        grid-column: 1/4
    input, select
        width: 90%
    .input-add
        align-self: center
        justify-self: center
    .input-container
         grid-column: 1/4
    button 
        margin-top: 20px
.container-flex
    display: none
    grid-template-rows: repeat(4,70px)
    grid-template-rows: 20px 
    grid-gap: 30px 5px
    background: rgb(250, 250, 250)
    box-shadow: 50px 30px 50px rgb(30, 30, 30,0.6)
    width: 250px
    padding: 20px 30px
    position: absolute
    top: 30%
    left: 40%
    transform: translate(-50%, 10%)
    border-radius: 7px
    z-index: 500
    .input-container
        width: 100%
        grid-column: 1/3
        margin-top: -20px
    .input 
        width: 96%
    button 
        font-size: 18px
        width: 70%
    h2
        margin-top: -10px
.find_inputs select 
    margin-bottom: 10px
input, textarea
    font-family: Open Sans, sans-serif
    resize: none
    height: 25px
    outline: none
    width: 80%
    border: none
    border-bottom: 2px solid rgb(30, 30, 30,0.8)
    position: relative
    z-index: 100
    background: transparent
    transition-property: border-color
    transition-duration: .7s
    -o-transition-timing-function: ease
    &:focus
        border-color: rgb(32, 107, 219)
#profesor-container select, .container-flex select, #disponibilidad-container select, #horario-container select
    width: 80%
    border: none
    border-bottom: 2px solid rgb(30, 30, 30,0.8)
    outline: none
    font-size: 16px
    margin-top: 30px
    transition-property: border-color
    transition-duration: .7s
    -o-transition-timing-function: ease
.container-flex select
    width: 97%
.input-container 
    position: relative
label
    font-size: 18px
    position: absolute
    top: 20px
    color: rgb(138, 136, 136)
    transition-property: top, font-size
    transition-timing-function: ease
    transition-duration: 0.5s
    user-select: none
button
    width: 60%
    height: 40px
    margin: auto
    font-size: 20px
    background: rgb(73, 87, 214)
    border: none
    color: rgb(240, 240, 240)
    transition-property: background
    transition-duration: .5s
    transition-timing-function: ease
    cursor: pointer
    &:hover
        background: rgb(94, 110, 252)
.button-edit 
    grid-column: auto
    width: 70%
    margin: auto
    display: none
.button-delete
    background: rgb(235, 61, 30)
    &:hover
        background: rgb(230, 89, 65)
.close-icon
    width: 30px
    height: 30px
    transition-duration: .7s
    transition-property: ease
    transition-property: transform
    display: none
    &:hover
        transform: rotate(180deg)
.a_img 
    position: absolute
    cursor: pointer
    right: 20px
    top: 10px
#pensum-container button
    margin: auto
    grid-column: 1
#pensum-container, #materia-container
    grid-template-rows:20px
    top: -20px
    width: 300px
    grid-gap: 40px 10px
    .input
        width: 90%
    img
        width: 30px
        height: 30px
        position: absolute
        top: 20px
        right: -5px
        transition-property: transform
        transition-timing-function: ease
        transition-duration: .5s
        cursor: pointer
        &:hover
            transform: scale(1.18)
    h2
        margin-top: -10px
#pensum-container .checkbox-edit
    left:270px
.blackcover, .blackcover_horario
    position: absolute
    background: rgb(30, 30, 30,.5)
    height: 100%
    width: 100%
    display: none
    z-index: 100
.container-edit 
    background: rgb(250, 250, 250)
    display: none
    flex-direction: column
    position: absolute
    top: 50%
    left: 56%
    width:270px
    height: 200px
    transform: translate(-50%,-50%)
    padding: 15px
    animation-duration: 1s
    z-index: 3000
    input 
        width: 98%
.delete-window
    background: rgb(230, 230, 230)
    display: none
    position: absolute
    top: 50%
    left: 56%
    width:300px
    height: 120px
    transform: translate(-50%,-50%)
    padding: 15px
    animation-duration: 1s
    z-index: 3000
    button 
        width: 110px
        height: 30px
    button:nth-child(3)
        background: rgb(216, 47, 47)
        margin-left: 75px
        &:hover
            background: rgb(231, 74, 74)
h2 
    text-align: center
    grid-column: 1/3
#logout
    float: right
    margin-right: 20px
    &:hover>.boderline
        transform: scaleX(150)
        width: 1px
        background-color: rgb(240, 238, 238)
.checkbox-edit
    position: absolute
    left: 185px
    width: 40px !important
    bottom: 15px
    display: none
    cursor: pointer
.checkbox-materia
    left: 240px
.back-option
    padding: 7px
    font-size: 14px
    background: rgb(73, 87, 214)
    color: white
    display: none
    position: absolute
    top: 10px
    left: -20px
    cursor: pointer
    border-radius: 3px
    transition-duration: .5s
    transition-property: background
    transition-timing-function: ease
    z-index: 700
    &:hover
        background: rgb(94, 110, 252)
    
@keyframes Appear 
    0%
        opacity: 0
        top: 40%
    50%
        opacity: 1
    100% 
        top: 50%
@keyframes Opacity 

    0%
        opacity: 0
    100%
        opacity: 1
@keyframes Dissapear 

    0%
        opacity: 1
    100%
        opacity: 0
