@font-face {
  font-family: Open Sans;
  src: url(fonts/OpenSans-Regular.ttf);
}
body {
  background-color: #e6e6e6;
  padding: 0;
  margin: 0;
  font-family: Open Sans, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 250px;
  height: 285px;
  transform: translate(-50%, -50%);
  background-color: #f5f5fa;
  border-radius: 10px;
  box-shadow: 20px 15px 30px rgba(30, 30, 30, 0.6);
  padding: 15px 25px;
}
.login-container button {
  border: none;
  font-size: 17px;
  padding: 5px 0px;
  background-color: #206bdb;
  color: #f0f0f0;
  position: relative;
  cursor: pointer;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-property: border-color;
}
.login-container button:hover {
  background-color: #4a98e7;
  border-color: #e28732;
}
.login-container button::before {
  content: "";
  border-top: 3px solid transparent;
  width: 2px;
  position: absolute;
  left: 121px;
  top: -2px;
  transition-property: transform, width;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
.login-container button:hover::before {
  border-color: #e28732;
  transform: scale(125, 1);
}
.login-container button::after {
  content: "";
  left: 121px;
  bottom: -2px;
  position: absolute;
  border-bottom: 3px solid transparent;
  width: 2px;
  transition-property: width, transform;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
.login-container button:hover::after {
  border-color: #e28732;
  transform: scale(125, 1);
}
.login-container button:active {
  border-color: #3cd63c;
}
.login-container button:active::before {
  border-color: #3cd63c;
}
.login-container button:active::after {
  border-color: #3cd63c;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  font-size: 18px;
  position: absolute;
  top: 20px;
  color: #8a8888;
  transition-property: top, font-size;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input-container {
  position: relative;
}

input {
  height: 25px;
  border: none;
  width: 98%;
  background-color: transparent;
  border-bottom: 1.9px solid black;
  position: relative;
  z-index: 100;
  outline: none;
  transition-property: border-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
input:focus {
  border-color: #206bdb;
}

.blackcover {
  position: absolute;
  background: rgba(30, 30, 30, 0.6);
  width: 100%;
  height: 100%;
  display: none;
}
.blackcover .recover {
  position: relative;
  width: 350px;
  height: 200px;
  padding: 5px 30px;
  background: #e6e6e6;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.blackcover button {
  border: none;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  transition-property: background, color;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  cursor: pointer;
}
.blackcover .button-rep {
  border: 3px solid #206bdb;
  background: transparent;
}
.blackcover .button-rep:hover {
  background: #206bdb;
  color: #e6e6e6;
}
.blackcover .button-clo {
  border: 3px solid red;
  background: transparent;
  float: right;
}
.blackcover .button-clo:hover {
  background: red;
  color: #e6e6e6;
}

@-webkit-keyframes Appear {
  0% {
    opacity: 0;
    top: 30%;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 40%;
  }
}

@keyframes Appear {
  0% {
    opacity: 0;
    top: 30%;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 40%;
  }
}/*# sourceMappingURL=login.css.map */